<p contenteditable="true">Start editing to see some magic happen :)</p>

<ul>
  <li>
    <a routerLink="" routerLinkActive="active">Home</a>
    <br />
    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <br />
    <a routerLink="/inventory" routerLinkActive="active">Inventory</a>
    <!-- <a routerLink="/main1/child1" routerLinkActive="active">Child1</a>
    <a routerLink="/main1/child2" routerLinkActive="active">Child2</a> -->
  </li>
</ul>

<router-outlet></router-outlet>
